@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-family-primary: "Plus Jakarta Sans", sans-serif;
  --color-primary-500: #635fc7;
  --color-primary-700: #a8a4ff;
  --color-red-500: #ea5555;
  --color-red-700: #ff9898;
  --color-dark-100: #000112;
  --color-dark-200: #20212c;
  --color-dark-300: #2b2c37;
  --color-dark-400: #3e3f4e;
  --color-light-900: #ffffff;
  --color-light-800: #f4f7fd;
  --color-light-700: #e4ebfa;
  --color-light-600: #828fa3;
  --color-button-800: rgba(99, 95, 199, 0.1);
  --color-button-700: rgba(99, 95, 199, 0.25);
}
@layer utilities {
  .h1-bold {
    @apply text-[24px] font-bold leading-[30px];
  }
  .h2-bold {
    @apply text-[18px] font-bold leading-[23px];
  }
  .base-bold {
    @apply text-[15px] font-bold leading-[15px];
  }
  .paragraph-medium {
    @apply text-[13px] font-medium leading-[23px];
  }
  .body-bold {
    @apply text-[12px] font-bold leading-[15px];
  }
  .text-dark100_light900 {
    @apply text-dark-100 dark:text-light-900;
  }
  .placeholder {
    @apply placeholder:text-light-800;
  }
  .background-light800_dark300 {
    @apply bg-light-800 dark:bg-dark-300;
  }
  .background-light900_dark400 {
    @apply bg-light-900 dark:bg-dark-400;
  }
  .button-primary {
    @apply bg-primary-500 text-light-900 hover:bg-primary-700;
  }
  .button-secondary {
    @apply bg-button-800 text-primary-500  hover:bg-button-700 dark:bg-light-900 dark:hover:text-primary-700;
  }
  .button-destructive {
    @apply bg-red-500 text-light-900 hover:bg-red-700;
  }
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
}
